@import "components.less";

// Site specific styling follows:
// ---------------------
// - Cookie Styling
// - Header Styling
//	- Navigation Styling
//	- Promotional
//	- Contact Quote
//	- Main Content
//		- Testimonials
//		- Pricing
//		- Contact
//			- Forms
//		- About
//		- Associations
//	- Footer
//
// Breakpoints are 768px and below for mobile, 768-992px for tablet and 992px+ for computer 
// ------------------------------

/*BOF Generic Styling*/
	* {
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		-ms-box-sizing: border-box;
		box-sizing: border-box;

		::selection {
			background: @red; /* Safari */
		}

		::-moz-selection {
			background: @red; /* Firefox */
		}

	} //*

	body {
		background-color: @light-grey;
		font-family: @lato;
		-webkit-font-smoothing:antialiased;
	}

	h1, h2, h3, h4, h5, h6 {
		font-weight: 400;
	}

	a {

		&:link, &:visited, &:hover, &:active, &:focus {
			color: @linkColour;
			text-decoration: none;
		} // link states

		&:hover {
			color: @linkHoverColour;
		}

	} //a

	hr {
		border-color: @light-grey;
	} //hr
/*EOF Generic Styling*/

.cc-cookies {

	& + .page {
		margin-top: 40px;
	}

}

.page {

	& > .column {
		//background-color: @white;

		background-attachment: scroll;
		background-color: @white;
		.background-clip(border-box);
		background-position: -30px 490px;
		background-origin: padding-box;
		background-repeat: no-repeat;

		background-size: 110%;
		background-image: url(../images/big-l.png);
	}

	.ui.dividing.header {
		border-color: @light-grey;
	}

	& > .warning.column {
		background: none;
	}
	
}

/*BOF Cookie Styling*/
.cc-cookies { 
	background: @dark-grey; 
	color: @white; 
	left: 0; 
	padding: 0.5em 5%;
	position: fixed; 
	text-align: center; 
	top: 0; 
	width: 100%; 
	z-index: 99999; 

		a {

			&:link,
			&:visited,
			&:hover,
			&:active {
				color: @white; 
				text-decoration: underline;
			} //pseudo states

			&:hover {
				text-decoration: none;
			} //hover

		} //a

} // .cc-cookies

.cc-overlay { 
	height: 100%; 
	padding-top: 25%; 
}

.cc-cookies-error { 
	background: @white; 
	border: 1px solid @dark-grey; 
	color: #333; 
	float: left; 
	font-size: 18px; 
	margin: 1em 0 2em 0; 
	padding: 2em 5%; 
	text-align: center; 
	width: 100%; 
}

.cc-cookies a.cc-cookie-accept, 
.cc-cookies-error a.cc-cookie-accept, 
.cc-cookies a.cc-cookie-decline, 
.cc-cookies-error a.cc-cookie-decline, 
.cc-cookies a.cc-cookie-reset { 
	display: inline-block; 
	color: #fff; 
	text-decoration: none; 
}

.cc-cookies a.cc-cookie-decline, 
.cc-cookies-error a.cc-cookie-decline { 
	background: #af3b3b; 
	margin-left: 0.5em; 
}

.cc-cookies a.cc-cookie-reset { 
	background: #f15b00; 
}

.cc-cookies-error a.cc-cookie-accept, 
.cc-cookies-error a.cc-cookie-decline { 
	display: block; margin-top: 1em; 
}

/*BOF Cookie Styling*/

/*BOF Header Styling*/
	header {
		background-attachment: scroll;
		background-color: transparent;
		.background-clip();
		 background-position: left top;
		background-origin: padding-box;
		background-repeat: no-repeat, repeat-x;
		background-size: auto 400px;
		background-image: url(../images/header-image-new.jpg);
		min-height: 400px;
		margin-top: 1.5%;

		h1 {

			a {

				&:link, &:visited, &:hover, &:active, &:focus {
					background-attachment: scroll;
					background-color: transparent;
					.background-clip();
					 background-position: left top;
					background-origin: padding-box;
					background-repeat: no-repeat, repeat-x;
					background-size: auto;
					background: transparent url(../images/logo-lge.png) no-repeat left top scroll;
					color: inherit;
					display: block;
					height: 92px;
					.hide-text();
					margin: 2rem 0.5rem;
					width: 483px;

				} //link states

				&:hover {
					color: @red;
				}

			} //a

		} //h1

	}// header

	@media only screen and (min-width: 768px) and (max-width: 992px) {

		header {
			background-size: auto 275px;
			min-height: 275px;
		
			h1 {

				a {

					&:link, &:visited, &:hover, &:active, &:focus {
						background-size: 350px auto;
						height: 66px;
						width: 350px;
					} //link states

				} //a

			} //h1

		} //header

	}

	@media only screen and (max-width: 767px) {
		
		header {
			background-size: auto 225px;
			min-height: 225px;
		
			h1 {

				a {

					&:link, &:visited, &:hover, &:active, &:focus {
						background-size: 275px auto;
						height: 53px;
						margin: 1.15rem -0.3rem;
						width: 275px;
					} //link states

				} //a

			} //h1

		} //header

	} 



/*EOF Header Styling*/

/*BOF Navigation Styling*/
	nav {
		background-color: @light-grey;
		
		ul.ui.menu {
			background-color: transparent;
			-webkit-box-shadow: none;
			box-shadow: none;


			li.item {

				a {

					&:link, &:visited, &:hover, &:active, &:focus {
						color: @black;
						font-weight: 600;
						text-transform: uppercase;
					} //link states 

					&:hover {
						color: @red;
					}

				} //a

				&:before {
					background-image: none;
				}

			} //li

		} //ul

	} //nav
/*EOF Navigation Styling*/

/*BOF Promotional Styling*/
	#promotional {

		.column {
			background-color: @white;

			&:nth-child(2) {
				background-attachment: scroll;
				background-color: @white;
				.background-clip();
				background-position: center center;
				background-origin: padding-box;
				background-repeat: no-repeat;
				background-size: auto;
				background-image: url(../images/little-l.png);
				height: 217px;
				min-height: 217px;
			}

			p {
				font-size: 5rem;
				font-weight: 900;
				margin: 1.5% 0;

				em {
					display: block;
					font-size: 1.45rem;
					margin-top: -5%; 
				} //em

				span {
					display: block;
					font-size: 0.85rem;
					font-weight: 300;
					margin-top: 5%;
				} //em

			} //p

		} //column

	} //promotional

	@media only screen and (min-width: 768px) and (max-width: 992px) {
		
		#promotional {

			.column {

				&:nth-child(2) {
					background-size: 230px auto;
					height: 175px;
					min-height: 175px;
				}

				p {
					font-size: 4.35rem;
					
					span{
						margin-top: 4%;
					} //em

				} //p

				

			} //column

		} //promotional

	}

	@media only screen and (max-width: 767px) {
		
		#promotional {

			.column {

				&:nth-child(2) {
					background-size: 200px auto;
					height: 155px;
					min-height: 155px;
				}

				p {
					font-size: 4.35rem;
					
					span {
						margin-top: 4%;
					} //em

				} //p

				

			} //column

		} //promotional

	}


/*EOF Promotional Styling*/

/*BOF Contact Quote Styling*/
	#contact-quote {
		background-color: @light-grey;

		p {
			font-size: 1.5rem;
			font-weight: 300;
		
			strong {
				font-weight: 500;
			} //strong

		} //p

	} //#contact-quote

	@media only screen and (max-width: 767px) { 
		
		#contact-quote {
			
			p {
				font-size: 1.2rem;
			} //p

		} //contact-quote

	}


/*BOF Contact Quote Styling*/

/*BOF Main Content*/
	#main-content {

/*BOF Testimonials Styling*/
		#testimonials {
			color: @dark-grey;

			p {
				color: inherit;
				font-size: 1.8rem;
				font-style: italic;
				line-height: 1.25;
				font-weight: 900;
			} //p

			em {
				color: inherit;
				display: block;
				font-size: 1rem;
				font-weight: 400;
				text-align: right;
			} //em

		} //#testimonials

		@media only screen and (min-width: 768px) and (max-width: 992px) { 

			#testimonials { 

				p {
					font-size: 1.3rem;
				}

			} //testimonials

		}

		@media only screen and (max-width: 767px) { 

			#testimonials { 

				p {
					font-size: 1.5rem;
					font-weight: 700;
				}

			} //testimonials

		}



/*BOF Testimonials Styling*/

/*BOF Pricing Styling*/
		#pricing.column {
			margin-bottom: 0;
			margin-top: 0;

			&>.column {
				margin-bottom: 0;
				margin-top: 0;
			}

			.header {
				margin-bottom: 0;
			}

			h3 {
				margin-bottom: 0;
			} //.column

		} //#pricing
/*EOF Pricing Styling*/

/*BOF Contact Styling*/
		#contact.column {
			margin-bottom: 10px;
			margin-top: 0;

			&>.column {
				margin-bottom: 0;
				margin-top: 0;
			} // >.column

			.header {
			}

			h3 {
				margin-bottom: 0;
			} //.column


		} //#contact
/*EOF Contact Styling*/

/*BOF About Styling*/
		#about.column {
			margin-bottom: 0;
			margin-top: 0;

			& .column {
				margin-bottom: 0;
				margin-top: 0;
			
				&.column {
					margin-bottom: 0;
					margin-top: 0;
				}

			}

			.header {
				margin: 0;
			}

		} //#about
/*EOF About Styling*/

/*BOF Associations Styling*/
		#associations {

			.association {
				text-align: center;

				&.dsa {

					a {
						.sprite-dsa();
					}

				}//&.dsa

				&.think {

					a {
						.sprite-think();
					}

				}//&.think

				&.dsa-approved {
					a {
						.sprite-dsa-approved();
					}
				} //&.dsa-advanced

				&.pass-plus {
					a {
						.sprite-pass-plus();
					}
				}//&.pass-plus

				&.dia {
					a {
						.sprite-dia();
					}
				}//&.dia

				&.sitelock {
					a {
						.sprite-sitelock();
					}
				}

				a {

					&:link, &:visited, &:hover, &:active, &:focus {
						.hide-text();
					} //link states

				} //a

			}//.association

		} //#associations
/*EOF Associations Styling*/

	} //#main-content
/*EOF Main Content*/

	footer {
		background-color: @light-grey;

	}//footer
