@white: 			rgb(255, 255, 255);
@black: 			rgb(32, 32, 32);
@light-grey: 		rgb(210, 210, 210);
@dark-grey:			rgb(127, 127, 127);
@red: 				rgb(237, 28, 36);

@linkColour: 		@red;
@linkHoverColour: 	@black;
