.sprite (@x, @y) {
	background-attachment: scroll;
	background-color: transparent;
	.background-clip(border-box);
   background-image: url(../images/logo-sprite.png);
	background-position: @x @y;
	background-origin: padding-box;
	background-repeat: no-repeat;
	//-webkit-background-size: 100%;
	//-moz-background-size: 100%;
	//background-size: 100%;
	display: block;
	height: 65px;
	margin: 0 auto;	
	width: 140px;
}

.sprite-dia { 
	.sprite(0,0); 
}

.sprite-dsa-approved { 
	.sprite(0, -115px);
}

.sprite-dsa { 
	.sprite(0, -230px);
}

.sprite-pass-plus { 
	.sprite(0, -345px); 
} 
.sprite-think { 
	.sprite(0, -460px);
} 

.sprite-sitelock {
	.sprite(0, 0);
	background-image: url("//shield.sitelock.com/shield/www.warrencoe.com");
	height: 67px;
	width: 117px;
}