.background-clip(@argument: padding-box) {
  -moz-background-clip: @argument;
  -webkit-background-clip: @argument;
  background-clip: @argument;
}


.hide-text() {
  overflow:hidden;  
  text-indent:100%; 
  white-space:nowrap; 

}